<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asdashboard">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dashboard"
        tools:targetApi="s">
        <activity
            android:name="com.example.asdashboard.layout.PermissionActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.example.asdashboard.layout.SplashActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.asdashboard.layout.ConnectDeviceActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.example.asdashboard.layout.LanguageSelectActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.example.asdashboard.layout.DashBoardActivity"
            android:exported="false"
            android:largeHeap="true"
            android:screenOrientation="sensorLandscape" />

        <receiver
            android:name="com.example.asdashboard.layout.DashBoardActivity$PowerConnectionReceiver"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>